name: lambdas

defaults:
  run:
    working-directory: lambdas

on:
  pull_request:
    paths:
      - ".github/workflows/lambdas.yml"
      - "lambdas/**"
      - "Cargo.toml"
      - "Cargo.lock"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - run: cargo fmt --check
      - run: cargo clippy -- -D warnings
      - run: cargo check
      - run: cargo doc --no-deps

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - name: Install cargo lambda
        run: pip install cargo-lambda
      - run: cargo lambda build
      - run: cargo test
